
@{
    ViewData ["Title"] = "¨Pagina de Inicio";
}

<div>

</div>


<style class="mb-3">
    body {
        background-image: url("/Imagenes/Fondo.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>





